<div class="card card-show my-3">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Novo Treino<h4>
  </div>
  <div class="card-body container">
    <%= form_with model: @training, url: patient_trainings_path(@patient) do |training_form| %>

      <%= training_form.hidden_field :patient_id, value: @patient.id %>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <div class="mb-3 text-center">
                <%= image_tag 'avatar-woman.png', :class => 'img-responsive' %>
                <%= @patient.name %>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="my-3">
            <label>Título</label>
            <%= training_form.text_field :title, :class => 'form-control'%>
          </div>

          <div class="my-3">
            <label>Data de Início</label>
            <%= training_form.date_field :dt_start, :class => 'form-control'%>
          </div>

          <div class="mb-3">
            <label>Data de Término</label>
            <%= training_form.date_field :dt_end, :class => 'form-control'%>
          </div>

          <div class="mb-3">
            <label>Orientações</label>
            <%= training_form.text_area :orientation, size: "60x2", :class => 'form-control' %>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col mb-3">
              <label>Adicionar Exercícios</label>
            </div>
            <div class="col text-end">
              <%= training_form.submit 'Salvar', :class => "btn btn-primary" %>
            </div>
          </div>
          <div class="row overflow-scroll exercises-block">
            <% @exercises.each do |exercise| %>
              <%= training_form.fields_for :"frequency_#{exercise.id}" do |form_exercise| %>
                <%= form_exercise.hidden_field :exercise_id, value: exercise.id %>

                <div class="row">
                  <div class="col">
                    <input type="checkbox">
                    <%= exercise.name %>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label>Séries</label>
                    <%= form_exercise.number_field :series, in: 1..10, step: 1, :class => 'form-control' %>
                  </div>

                  <div class="col">
                    <label>Tempo(s)</label>
                    <%= form_exercise.number_field :time, in: 1..300, step: 1, :class => 'form-control' %>
                  </div>

                  <div class="col mb-3">
                    <label>Repetições</label>
                    <%= form_exercise.number_field :repetition, in: 1..50, step: 1, :class => 'form-control' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
