<div class="card card-show my-3">
  <label class="text-end px-3"><%= @patient.name %></label>
  <div class="card-header card-header-show">
    <div class="row">
      <div class="col">
        <h4 class="card-title-show"><%= @training.title %><h4>
      </div>
      <div class="col text-end">
        <%= link_to patient_training_realizations_path(patient_id: @patient.id, training_id: @training.id), class: 'link-login'  do %>
          <h5><%= @training.realizations.count%> Realizações</h5>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body container">
    <% @training.frequencies.each do |frequency| %>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col">
              <%= video_tag url_for(frequency.exercise.video), controls: '', :class => 'img-fluid mb-3' %>
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
        <div class="col mx-5">
          <div class="row">
              <div class="col">
                <h5><%= frequency.exercise.name %></h5>
              </div>
            </div>
          <div class="card-body container background-purple-light">
            <% unless frequency.series.nil? %>
              <div class="row background-purple-light">
                <div class="col">
                  <label>Séries:</label>
                </div>
                <div class="col">
                  <label><%= frequency.series %></label>
                </div>
              </div>
            <% end %>

            <% unless frequency.repetition.nil? %>
              <div class="row background-purple-light">
                <div class="col">
                  <label>Repetições:</label>
                </div>
                <div class="col">
                  <label><%= frequency.repetition %></label>
                </div>
              </div>
            <% end %>

            <% unless frequency.time.nil? %>
              <div class="row background-purple-light">
                <div class="col">
                  <label>Tempo:</label>
                </div>
                <div class="col">
                  <label><%= frequency.time %>s</label>
                </div>
              </div>
            <% end %>

            <div class="row background-purple-light">
              <div class="col">
                <label>Descrição:</label>
              </div>
              <div class="col">
                <label><%= frequency.exercise.description %></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    <hr>
    <% end %>
  </div>
</div>
