<div class="row my-3">
  <label class="text-end px-3"><%= @patient.name %></label>
  <div class="row">
    <div class="col">
      <div class="card-header card-header-show">
        <h4 class="card-title-show">Treinos Realizados<h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if @realizations.empty? %>
    <div class="alert alert-secondary" role="alert">
      Este treino ainda não foi realizado.
    </div>
  <% end %>
  <div class="col mb-3">
    <% unless @realizations.first.nil? %>
      <div class="card card-index">
        <div class="position-absolute top-0 start-0">
          <% if @realizations.first.feedbacks.empty? %>
            <label class="active-training p-1">Pendente</label>
          <% end %>
        </div>
        <div class="card-body container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <div class="card card-show text-center">
                <div class="card-header card-header-show">
                  <h4 class="card-title-show title-training-index"><%= @realizations.first.date.strftime('%d/%m/%Y') %><h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <label>Exercícios</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col card-text-training">
                      <label>Propostos: <%= @training.exercises.count %></label> - <label>Realizados: <%= @realizations.first.executions.count %></label>
                    </div>
                  </div>
                </div>
                <div class="card-footer card-footer-show card-text-training text-muted">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label>Vídeos Anexados</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <%= @realizations.first.executions.count %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 align-self-end">
              <%= link_to patient_training_realization_path(patient_id: params[:patient_id], training_id: params[:training_id], id: @realizations.first.id) do %>
                <span class="material-symbols-outlined icons-action">event_available</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col mb-3">
    <% unless @realizations.second.nil? %>
      <div class="card card-index">
        <div class="position-absolute top-0 start-0">
          <% if @realizations.second.feedbacks.empty? %>
            <label class="active-training p-1">Pendente</label>
          <% end %>
        </div>
        <div class="card-body container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <div class="card card-show text-center">
                <div class="card-header card-header-show">
                  <h4 class="card-title-show title-training-index"><%= @realizations.second.date.strftime('%d/%m/%Y') %><h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <label>Exercícios</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col card-text-training">
                      <label>Propostos: <%= @training.exercises.count %></label> - <label>Realizados: <%= @realizations.first.executions.count %></label>
                    </div>
                  </div>
                </div>
                <div class="card-footer card-footer-show card-text-training text-muted">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label>Vídeos Anexados</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <%= @realizations.second.executions.count %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 align-self-end">
              <%= link_to patient_training_realization_path(patient_id: params[:patient_id], training_id: params[:training_id], id: @realizations.second.id) do %>
                <span class="material-symbols-outlined icons-action">event_available</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row mb-3">
  <div class="col mb-3">
    <% unless @realizations.third.nil? %>
      <div class="card card-index">
        <div class="position-absolute top-0 start-0">
          <% if @realizations.third.feedbacks.empty? %>
            <label class="active-training p-1">Pendente</label>
          <% end %>
        </div>
        <div class="card-body container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <div class="card card-show text-center">
                <div class="card-header card-header-show">
                  <h4 class="card-title-show title-training-index"><%= @realizations.third.date.strftime('%d/%m/%Y') %><h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <label>Exercícios</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col card-text-training">
                      <label>Propostos: <%= @training.exercises.count %></label> - <label>Realizados: <%= @realizations.first.executions.count %></label>
                    </div>
                  </div>
                </div>
                <div class="card-footer card-footer-show card-text-training text-muted">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label>Vídeos Anexados</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <%= @realizations.third.executions.count %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 align-self-end">
              <%= link_to patient_training_realization_path(patient_id: params[:patient_id], training_id: params[:training_id], id: @realizations.third.id) do %>
                <span class="material-symbols-outlined icons-action">event_available</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col mb-3">
    <% unless @realizations.fourth.nil? %>
      <div class="card card-index">
        <div class="position-absolute top-0 start-0">
          <% if @realizations.fourth.feedbacks.empty? %>
            <label class="active-training p-1">Pendente</label>
          <% end %>
        </div>
        <div class="card-body container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <div class="card card-show text-center">
                <div class="card-header card-header-show">
                  <h4 class="card-title-show title-training-index"><%= @realizations.fourth.date.strftime('%d/%m/%Y') %><h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <label>Exercícios</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col card-text-training">
                      <label>Propostos: <%= @training.exercises.count %></label> - <label>Realizados: <%= @realizations.first.executions.count %></label>
                    </div>
                  </div>
                </div>
                <div class="card-footer card-footer-show card-text-training text-muted">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label>Vídeos Anexados</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <%= @realizations.fourth.executions.count %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 align-self-end">
              <%= link_to patient_training_realization_path(patient_id: params[:patient_id], training_id: params[:training_id], id: @realizations.fourth.id) do %>
                <span class="material-symbols-outlined icons-action">event_available</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-10">
    <%= paginate @realizations %>
  </div>
  <div class="col-2">
  </div>
</div>
