<div class="card card-show text-center my-3">
  <%= form_with model: @realization, url: patient_training_realizations_path(@patient, @training) do |realization_form| %>

    <%= realization_form.hidden_field :exercise_ids, value: @training.exercises.pluck(:id) %>

    <div class="card-header card-header-show">
      <h4 class="card-title-show"><%= @training.title %><h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h5>Orientações</h5>
          <p><%= @training.orientation %></p>

          <h5 class="mb-3">Exercícios</h5>

          <% @training.frequencies.each do |frequency| %>
            <%= realization_form.fields_for :"execution_#{frequency.exercise.id}" do |form_exercise| %>
              <%= form_exercise.hidden_field :exercise_id, value: frequency.exercise.id %>

              <div class="row">
                <div class="col">
                  <p class="underline"><%= frequency.exercise.name %></p>
                  <%= video_tag url_for(frequency.exercise.video), controls: '', :class => 'img-fluid mb-3' %>

                  <% unless frequency.series.nil? %>
                    <div class="row background-purple-light">
                      <div class="col">
                        <label>Séries:</label>
                      </div>
                      <div class="col">
                        <label><%= frequency.series %></label>
                      </div>
                    </div>
                  <% end %>

                  <% unless frequency.repetition.nil? %>
                    <div class="row background-purple-light">
                      <div class="col">
                        <label>Repetições:</label>
                      </div>
                      <div class="col">
                        <label><%= frequency.repetition %></label>
                      </div>
                    </div>
                  <% end %>

                  <% unless frequency.time.nil? %>
                    <div class="row background-purple-light">
                      <div class="col">
                        <label>Tempo:</label>
                      </div>
                      <div class="col">
                        <label><%= frequency.time %>s</label>
                      </div>
                    </div>
                  <% end %>

                  <div class="row">
                    <div class="col text-start mt-4">
                      <label class="mb-2">Adicionar Vídeo:</label>
                      <%= form_exercise.file_field :video, :class => 'form-control' %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-start mt-4">
                      <label class="mb-2">Escrever Comentário:</label>
                      <%= form_exercise.text_area :comment, :class => 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer card-footer-show text-muted">
      <%= realization_form.submit 'Enviar', :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
