<div class="card card-show text-center my-3">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Treino do Dia<h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <% if @realization_today.empty?  %>
          <h5 class="card-title-show"><%= @training.title %></h5>

          <%= image_tag 'disfagia.jpg', :class => 'img-fluid mb-3' %>

          <p><%= @training.orientation %></p>
        <% else %>
          <h5 class="card-title-show">Parabéns!</h5>

          <%= image_tag 'good_job.jpg', :class => 'img-fluid mb-3' %>

          <p>Você completou seu treino!</p>
        <% end %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <% if @realization_today.empty?  %>
    <div class="card-footer card-footer-show text-muted">
      <%= link_to 'Iniciar', new_patient_training_realization_path(patient_id: current_user.id, training_id: @training.id), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="card card-show text-center my-3">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Meu Progresso<h4>
  </div>
  <div class="card-body">
    <%= month_calendar(events: @realizations) do |date, realization| %>
      <% if realization.empty? %>
        <div><%= date.day %></div>
      <% else %>
        <div class="realization-today"><%= date.day %></div>
      <% end %>
    <% end %>
  </div>
</div>
