<div class="card card-show text-center my-5">
  <div class="card-header card-header-show">
    <h4 class="card-title-show">Esqueceu a Senha?<h4>
  </div>
  <div class="card-body">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar Email", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="card-footer card-footer-show text-muted">
    <%= render "devise/shared/links" %>
  </div>
</div>
