<div class="row mb-3">
  <div class="col-10"></div>
  <div class="col-2 text-end">
    <%= link_to 'Novo +', new_patient_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col mb-3">
    <% unless @patients.first.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col">
              <div class='figure-index  text-center'>
                <%= image_tag 'avatar-woman.png', :class => 'form-control image-index mb-3' %>
                <p>Contato:   <%= @patients.first.phone %></p>
              </div>
            </div>
            <div class="col mr-2">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.first.name %></h5>
                <p class="resume-patient text-justify"><%= @patients.first.resume[0..150] %>...</p>
              </div>
              <div class="row">
                <div class="col-8">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">assignment_ind</span>
                  <% end %>
                </div>
                <div class="text-end col-4">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">delete</span>
                  <% end %>
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">edit</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col mb-3">
    <% unless @patients.second.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col">
              <div class='figure-index  text-center'>
                <%= image_tag 'avatar-woman.png', :class => 'form-control image-index mb-3' %>
                <p>Contato:   <%= @patients.second.phone %></p>
              </div>
            </div>
            <div class="col mr-2">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.second.name %></h5>
                <p class="text-justify resume-patient"><%= @patients.second.resume[0..200] %>...</p>
              </div>
              <div class="row">
                <div class="col-8">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">assignment_ind</span>
                  <% end %>
                </div>
                <div class="text-end col-4">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">delete</span>
                  <% end %>
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">edit</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <% unless @patients.third.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col">
              <div class='figure-index  text-center'>
                <%= image_tag 'avatar-woman.png', :class => 'form-control image-index mb-3' %>
                <p>Contato:   <%= @patients.third.phone %></p>
              </div>
            </div>
            <div class="col mr-2">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.third.name %></h5>
                <p class="text-justify resume-patient"><%= @patients.third.resume[0..200] %>...</p>
              </div>
              <div class="row">
                <div class="col-8">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">assignment_ind</span>
                  <% end %>
                </div>
                <div class="text-end col-4">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">delete</span>
                  <% end %>
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">edit</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <% unless @patients.fourth.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col">
              <div class='figure-index  text-center'>
                <%= image_tag 'avatar-woman.png', :class => 'form-control image-index mb-3' %>
                <p>Contato:   <%= @patients.fourth.phone %></p>
              </div>
            </div>
            <div class="col mr-2">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.fourth.name %></h5>
                <p class="text-justify resume-patient"><%= @patients.fourth.resume[0..200] %>...</p>
              </div>
              <div class="row">
                <div class="col-8">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">assignment_ind</span>
                  <% end %>
                </div>
                <div class="text-end col-4">
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">delete</span>
                  <% end %>
                  <%= link_to new_patient_path do %>
                    <span class="material-symbols-outlined icons-action">edit</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-10">
    <%= paginate @patients %>
  </div>
  <div class="col-2">
  </div>
</div>
