<div class="row my-3">
  <div class="col text-end">
    <%= link_to 'Novo +', new_patient_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <% if @patients.empty? %>
    <div class="alert alert-secondary" role="alert">
      Você ainda não possui pacientes em sua base. Clique em Novo + para criar
    </div>
  <% end %>
  <div class="col mb-3">
    <% unless @patients.first.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'avatar-woman.png', :class => 'form-control img-fluid mb-3' %>
            </div>
            <div class="col-8">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.first.name %></h5>
                <p class="text-justify"><%= @patients.first.resume[0..100] %>...</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Tel:   <%= @patients.first.phone %></p>
            </div>
            <div class="col">
              <%= link_to patient_path(@patients.first.id) do %>
                <span class="material-symbols-outlined icons-action align-middle">assignment_ind</span>
              <% end %>
            </div>
            <div class=" col text-end">
              <%= link_to patient_path(@patients.first.id), data: {turbo_confirm: 'Deseja excluir este paciente?', "turbo-method": :delete}, class: 'botao' do %>
                <span class="material-symbols-outlined icons-action align-middle">delete</span>
              <% end %>
              <%= link_to edit_patient_path(@patients.first.id) do %>
                <span class="material-symbols-outlined icons-action align-middle">edit</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col mb-3">
    <% unless @patients.second.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'avatar_masc_2.png', :class => 'form-control img-fluid mb-3' %>
            </div>
            <div class="col-8">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.second.name %></h5>
                <p class="text-justify"><%= @patients.second.resume[0..150] %>...</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Tel: <%= @patients.second.phone %></p>
            </div>
            <div class="col">
              <%= link_to patient_path(@patients.second.id) do %>
                <span class="material-symbols-outlined icons-action">assignment_ind</span>
              <% end %>
            </div>
            <div class=" col text-end">
              <%= link_to patient_path(@patients.second.id), data: {turbo_confirm: 'Deseja excluir este paciente?', "turbo-method": :delete}, class: 'botao' do %>
                <span class="material-symbols-outlined icons-action">delete</span>
              <% end %>
              <%= link_to edit_patient_path(@patients.second.id) do %>
                <span class="material-symbols-outlined icons-action">edit</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row mb-3">
  <div class="col mb-3">
    <% unless @patients.third.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'avatar_fem.png', :class => 'form-control img-fluid mb-3' %>
            </div>
            <div class="col-8">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.third.name %></h5>
                <p class="text-justify"><%= @patients.third.resume[0..150] %>...</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-center">Tel:   <%= @patients.third.phone %></p>
            </div>
            <div class="col">
              <%= link_to patient_path(@patients.third.id) do %>
                <span class="material-symbols-outlined icons-action">assignment_ind</span>
              <% end %>
            </div>
            <div class=" col text-end">
              <%= link_to patient_path(@patients.third.id), data: {turbo_confirm: 'Deseja excluir este paciente?', "turbo-method": :delete}, class: 'botao' do %>
                <span class="material-symbols-outlined icons-action">delete</span>
              <% end %>
              <%= link_to edit_patient_path(@patients.third.id) do %>
                <span class="material-symbols-outlined icons-action">edit</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col mb-3">
    <% unless @patients.fourth.nil? %>
      <div class="card card-index">
        <div class="card-body container">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'avatar_masc.png', :class => 'form-control img-fluid mb-3' %>
            </div>
            <div class="col-8">
              <div class="text-center mt-2">
                <h5 class="patient-name-index"><%= @patients.fourth.name %></h5>
                <p class="text-justify"><%= @patients.fourth.resume[0..150] %>...</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-center">Tel:   <%= @patients.fourth.phone %></p>
            </div>
            <div class="col">
              <%= link_to patient_path(@patients.fourth.id) do %>
                <span class="material-symbols-outlined icons-action">assignment_ind</span>
              <% end %>
            </div>
            <div class=" col text-end">
              <%= link_to patient_path(@patients.fourth.id), data: {turbo_confirm: 'Deseja excluir este paciente?', "turbo-method": :delete}, class: 'botao' do %>
                <span class="material-symbols-outlined icons-action">delete</span>
              <% end %>
              <%= link_to edit_patient_path(@patients.fourth.id) do %>
                <span class="material-symbols-outlined icons-action">edit</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <%= paginate @patients %>
  </div>
</div>
